<launch>
  <arg name="sim_robot" default="true"/>
  <arg name="robot_ip" default="192.168.1.102" />

  <include file="$(find yak_ur3_moveit_config)/launch/moveit_planning_execution.launch">
    <arg name="sim_robot" value="$(arg sim_robot)"/>
    <arg name="robot_ip" value="$(arg robot_ip)"/>
  </include>

</launch>
